# Swap de vim
*.swp
# Bin de Python
*.pyc# Swap de vim
*.swp
# Bin de Python
*.pyc# Swap de vim
*.swp
# Bin de Python
*.pyc# Swap de vim
*.swp
# Bin de Python
*.pyc# Swap de vim
*.swp
# Bin de Python
*.pyc# Swap de vim
*.swp
# Bin de Python
*.pyc# Swap de vim
*.swp
# Bin de Python
*.pyc# Swap de vim
*.swp
# Bin de Python
*.pyc
